{% extends "base.html" %}
{% load static %}
   {% block title %}GyP | Productos{% endblock %}

{% block body %}

	{% if productos %}


			{% for producto in productos %}
			<div class='container'>
				<a href="{% url 'productos:detalle' producto.id %}">{{ producto.nombre }}</a>

					<a href="{% url 'productos:detalle' producto.id %}">
						<img class='img-responsive' src="{{ producto.imagen.url }}" height="220"></a>

					<p>{{ producto.descripcion }}</p>

					<p>${{ producto.p_venta }}</p>

			</div>
			{% endfor %}
	{% else %}
	    <p>No hay productos para mostrar.</p>
	{% endif %}

{% endblock %}
